/* Font */
@font-face {
    font-family: 'Old Sans Serif';
    src: url('assets/font/ms-sans-serif.woff') format('woff');
}

/* Body Styling */
html,
body {
    margin: 0;
    overflow: hidden;
    background-color: #85C2C2;
    height: 100%;
    font-family: "Old Sans Serif";
    cursor: url('assets/images/old_pointer.png'), auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameCanvas {
    display: block;
    background-color: #85C2C2;
    cursor: crosshair;
}

#stopwatch {
    font-size: 25px;
    background-color: teal;
    color: #b6dcdc;
    padding: 5px 10px;
    border-radius: 10px;
    /* above is look below is position */
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 10; /* Ensures it's on top of the canvas */
  }
  